ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            li {
                font: 15px/1.5 Helvetica, Verdana, sans-serif;
                border-bottom: 1px solid #ccc;
            }

            li:last-child {
                border: none;
            }

            li a {
                text-decoration: none;
                color: #000;

                -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
                -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
                -o-transition: font-size 0.3s ease, background-color 0.3s ease;
                -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
                transition: font-size 0.3s ease, background-color 0.3s ease;
                display: block;
                width: 200px;
            }

            li a:hover {
                color: red;
                background: #f6f6f6;
            }
			
			li.selected-layer a{
				color:red;
			}
			
			.leaflet-popup-content{
				width:100% !important;
				margin: 12px 10px;
			
			}
			
			.leaflet-marker-icon,.leaflet-zoom-animated,.leaflet-interactive{
				margin-top:-22px!important
			}
			
			#layers{
				
                display:block;
                position:absolute;
                z-index:900;
                left:20px;
                top:120px;
                color:white;
                
                
            }

            #list{
				height:400px;
				width: 240px;
				overflow-y:scroll;
                overflow-x:hidden;
                background:white;
                position:absolute;
                left:150px;
                top:120px;
                z-index:900;
                display:none;
                padding:20px;
                border:3px solid green;
            }
            
            #mapid{
                border-top:1px solid #999;
                left:0px;
                bottom:20px;
                position:absolute;
                right:0;
                top:50px;
            }

            #layer-link{color:white;}

            .header{
               
                color:black;
                position: absolute;
                top:0;
                left:0;
                height:50px;
                width:100%;
            }

            .footer{
               
                position: absolute;
                bottom:0;
                left:0;
                height:20px;
                width:100%;
            }

            .footer-text{
                text-align: right;
                padding-right:10px;
            }

            .header-text{
                font-size:20px;
                font-weight: bold;
              position:fixed;
              right:50%;
              top:10px;
            }

            .header-img{
                width:80px;
                
            }

            